@(imageList: List[(Int, Int, Int, Int, Int)], videoList: List[(Int, Int, Int, Int, Int)])
@timestampFormat() = @{
    "%04d-%02d-%02dT%02d:00:00"
}
@main("Open Videoguard Calendar") {
    <script>
        $(document).ready(function() {
            $('#calendar').fullCalendar({
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'month,agendaWeek,agendaDay'
			    },events: [
                    @for((image,index) <- imageList.zipWithIndex){
                        {
                            title: 'image (@image._5) ',
                            start: '@timestampFormat.format(image._1,image._2,image._3,image._4)',
                            end: '@timestampFormat.format(image._1,image._2,image._3,image._4+1)'
                        }@if(index != imageList.size-1){,}
                    }@if(imageList.size > 0 && videoList.size > 0){,}
                    @for((video,index) <- videoList.zipWithIndex){
                        {
                            title: 'video (@video._5) ',
                            color: 'red',
                            start: '@timestampFormat.format(video._1,video._2,video._3,video._4)',
                            end: '@timestampFormat.format(video._1,video._2,video._3,video._4+1)'
                        }@if(index != videoList.size-1){,}
                    }
			    ]
            })

        });
    </script>
    <div id='calendar'></div>
}
