@import org.openguard.core.models._
@(time:String,images: List[ImageRef],count: Long, mediatype:String, page:Int, pageLength:Int)
@*
* big 1280x720
* smal 256x144
*@

@main("Open Videoguard Index") {
    @if(images.isEmpty){
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header"> no event found </h1>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
            @includes.toolbar(mediatype, count)
            </div>
         </div>
    } else {
        @includes.paginate(time,mediatype, page, pageLength, count)
        <div class="row">
            <div class='col-sm-6'>
                <div class="form-group">
                    <div class='input-group date' id='datetimepicker2'>
                        <input type='text' class="form-control" />
                        <span class="input-group-addon">
                            <span class="glyphicon glyphicon-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <script type="text/javascript">
            $(function () {
                $('#datetimepicker2').datetimepicker({
                    locale: 'en',
                    defaultDate: '@time'
                });
            });
            </script>
        </div>
        <div class="row">


            <div class="col-lg-12">
                <h4 class="page-header">@images.head.uploadTime.format("dd.MM.yyyy HH:mm") to @images.last.uploadTime.format("dd.MM.yyyy HH:mm") </h4>
                @includes.toolbar(mediatype, count)
            </div>
            @for(c <- images){
                <div class="col-lg-2 col-md-3 col-xs-4 thumb">
                    @if(c.mediatype == VIDEO) {
                        <img class="img-responsive thumbnail" src="/resources/@c.thumbnailPath" data-toggle="tooltip" data-placement="bottom" title="@c.uploadTime.format("dd MMMM yyyy HH:mm:ss")">
                    } else {
                        <a class="thumbnail" href="/resources/@c.imgPath" data-title="@c.uploadTime.format("dd MMMM yyyy HH:mm:ss")" data-lightbox="roadtrip" >
                            <img class="img-responsive" src="/resources/@c.thumbnailPath" data-toggle="tooltip" data-placement="bottom" title="@c.uploadTime.format("dd MMMM yyyy HH:mm:ss")">
                        </a>
                    }
                </div>
            }
        </div>
        @includes.paginate(time, mediatype, page, pageLength, count)
    }
}
