@import org.openguard.core.models._
@(title: String)(content: Html)

<!DOCTYPE html>

<html lang="en">
    <head>

        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="">
        <meta name="author" content="">

        <title>@title</title>

        <!-- Bootstrap Core CSS -->
        <link href="@routes.Assets.versioned("lib/bootstrap/css/bootstrap.min.css")" rel="stylesheet">
        <!-- lightbox2 CSS -->
        <link href="@routes.Assets.versioned("stylesheets/lightbox.css")" rel="stylesheet">
        <!-- Custom CSS -->
        <link href="@routes.Assets.versioned("stylesheets/thumbnail-gallery.css")" rel="stylesheet">
        <!-- fullcalendar CSS -->
        <link href="@routes.Assets.versioned("lib/fullcalendar/fullcalendar.css")" rel="stylesheet">
        <!-- datetime picker CSS -->
        <link href="@routes.Assets.versioned("lib/Eonasdan-bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css")" rel="stylesheet">
        <!-- videojs CSS -->
        <link href="@routes.Assets.versioned("lib/video.js/dist/video-js.css")" rel="stylesheet">
        <!-- jQuery -->
        <script src="@routes.Assets.versioned("lib/jquery/jquery.min.js")"></script>

    </head>
    <body>
        <!-- Navigation -->
        <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <div class="container">
                <!-- Brand and toggle get grouped for better mobile display -->
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand" href="@routes.EventController.index(ALL_MEDIA,1)">Home</a>
                </div>
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="@routes.CalendarController.index">calendar</a>
                        </li>

                        <li>
                            <a href="@routes.ReindexController.index">reimport</a>
                        </li>

                        <li>
                            <a href="@routes.LiveController.index">live</a>
                        </li>
                    </ul>
                </div>
                <!-- /.navbar-collapse -->
            </div>
            <!-- /.container -->
        </nav>
        <!-- Page Content -->
        <div class="container">
            @content

            <hr>

            <!-- Footer -->
            <footer>
                <div class="row">
                    <div class="col-lg-12">
                        <p>Open Videoguard</p>
                    </div>
                </div>
            </footer>
        </div>
        <!-- /.container -->

        <!-- Bootstrap Core JavaScript -->
        <script src="@routes.Assets.versioned("lib/bootstrap/js/bootstrap.min.js")"></script>
        <!-- lightbox2 JavaScript -->
        <script src="@routes.Assets.versioned("javascripts/lightbox.js")"></script>
        <!-- moment JavaScript -->
        <script src="@routes.Assets.versioned("lib/momentjs/moment.js")"></script>
        <!-- fullcalendar JavaScript -->
        <script src="@routes.Assets.versioned("lib/fullcalendar/fullcalendar.js")"></script>
        <!-- datetime picker JavaScript -->
        <script src="@routes.Assets.versioned("lib/Eonasdan-bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js")"></script>
        <!-- datetime picker JavaScript -->
        <script src="@routes.Assets.versioned("lib/video.js/dist/video.min.js")"></script>
    </body>
</html>
