@(path:String)
@*
* videoSize 1280x720
*@

@main("Open Videoguard Video") {
    <video id="my-video" class="video-js" controls preload="auto" width="1280" height="720"  data-setup="{}">
        <source src="/resources/@path" type='video/webm'>
        <p class="vjs-no-js">
            To view this video please enable JavaScript, and consider upgrading to a web browser that
            <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a>
        </p>
    </video>
}
